@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
}

.contenedor{
    width: 100%;
    display: flex;
}
main{
    width: 80%;
    display: flex;
    flex-direction: column;
}
main section{ 
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

main p{
    flex-wrap: nowrap;
    width: 100%;
    background-color: #69d6a993;
    text-align: center;
    border-radius: 10px;
    margin: 3px;
    padding: 0px;
    font-size: 40px;
}

section .producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 8px;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 2%;
    font-weight: bold;
}

main section .producto .Descripcion:hover{
    font-size: 22px;
    color: #968a8a;
    
}

main section .producto img{
    max-width:60%;
    height: 50vh;
    border-radius: 20px 20px 0px 0px;}

.producto img:hover{
    max-width:80%;
}
aside{
    width: 20%;
    padding: 20px;
}

aside section nav ul, aside section nav a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

aside section nav a:hover{
    color: #968a8a;
    font-size: 18px;
} 

@media(min-width:600px){
    section .producto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        align-items: center;
        width: 50%;
        font-size: 18px;
        padding: 2%;
        font-weight: bold;
    }
    main section{ 
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
}
